<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/bootstrap.css" />
    <include path="~/Content/Site.css" />
  </styleBundle>
  <styleBundle path="~/AdminLTE/css">
    <include path="~/Content/plugins/fontawesome-free/css/all.min.css" />
    <include path="~/Content/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css" />
    <include path="~/Content/plugins/icheck-bootstrap/icheck-bootstrap.min.css" />
    <include path="~/Content/plugins/jqvmap/jqvmap.min.css" />
    <include path="~/Content/dist/css/adminlte.min.css" />
    <include path="~/Content/plugins/overlayScrollbars/css/OverlayScrollbars.min.css" />
    <include path="~/Content/plugins/daterangepicker/daterangepicker.css" />
    <include path="~/Content/plugins/summernote/summernote-bs4.css" />
    <include path="~/Content/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" />
    <include path="~/Content/plugins/datatables-responsive/css/responsive.bootstrap4.min.css" />
  </styleBundle>
</bundles>